/*Style globale*/

*
{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button
{
    cursor: pointer;
}

#content
{
    position : relative ;
}

/*Fin Style globale*/

/*Style du header*/

#header
{
    width : 90% ;
    padding-left: 5%;
    padding-right: 5%;
    height : 7.5vh ;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    background: #ed8715;
    color : white;
}

#infos-profil
{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#logo
{
    text-transform: uppercase;
    font-weight: bolder ;
    font-size: 1.25em;
    letter-spacing: 5px;
}

.info-responsive button
{
    padding: 3px 15px;
    border-radius: 5px;
    background: #185359;
    color: white;
}

#click-menu{
    display: none;
}

#infos-profil-icons
{
    position: relative;
}

#block-info-responsive{
    position: absolute;
    z-index: 2;
    top : 35px;
    left: -195px;
    width : 250px;
    height: 0vh;
    background-color: #ed8715;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transition : 0.5s;
    border-radius: 0 0 15px 15px;
}

/*Fin Style du header*/

/*Style de section*/

#section
{
    width : 100%;
    height: 92.5vh;
    display: flex;
    justify-content: space-between;
}

#side-menu
{
    width : 20%;
    background: #000d16;
    color: white;
    font-size: 1.1em;
}

#side-menu a
{
    color : white ;
    text-decoration: none;
}

#nom-projet
{
    padding : 2vh 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
}

#options-details .option
{
    padding : 1.5vh 0 1.5vh 15px;
    position: relative;
    cursor: pointer;
}

.option .fleche
{
    position: absolute;
    right : 15px;
}

.hr-side-menu
{
    border: none;
    border-top: 2px solid #444;
}

#content
{
    width : 75% ;
    padding: 5vh 2.5%;
    background: #185359;
}

#content #titre
{
    font-size: 2em;
    color: white;
}

#hr-content-titre
{
    border: none;
    border-top: 2px solid #666;
    margin: 2.5vh auto;
}

#bande
{
    width : 100%;
    height: 3vh;
    background: #ed8715;
}

#planning-gen
{
    width : 95%;
    height : 65vh;
    padding : 2.5vh 2.5%;
    background: white;
    overflow-y: auto;
}

#option-planning-add
{
    width : 100%;
    padding : 2.5vh 0 5vh 0 ;
}

#option-planning-add button
{
    padding: 5px 25px ;
    font-size: 1em;
    color :white ;
    background: #185359;
    border-radius: 5px;
}

#zero
{
    font-size: 1.2em;
    color : #666;
}

#entete
{
    width : 100%;
    display: flex;
    justify-content: space-between;
    background: #1d71b8;
    color : white;
    font-size: 1.2em;
    padding : 1vh 0;
    font-weight: bold;
}

#tache
{
    width : 100%;
}

.lignes
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
    font-size: 1.1em;
    color : #444;
}

.hr-planning
{
    border: none;
    border-top: 1px solid #666;
}

.colonne-intitule
{
    width : 40%;
    padding-left: 15px;
}

.colonne-statut , .colonne-option , .colonne-detail
{
    width : 20%;
    text-align: center;
}

.lignes button
{
    padding: 5px 25px ;
    position: relative;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.detail
{
    width : 100px;
    height : 30px;
    background: #185359;
}

#del
{
    background: red;
}

.detail #texte
{
    position: absolute;
    left : 15px;
    top : 6.5px;
    font-size: 1em;
}

#angle
{
    position: absolute;
    right: 10px;
    top : 7.5px ;
}

.infos-tache
{
    width : 60%;
}

.lignes-infos
{
    width : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0;
}

.option-modifier
{
    width : 100% ;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    padding: 1vh 0 ;
}

.option-modifier button
{
    padding : 5px 25px ;
    border-radius: 5px ;
    background: #185359;
    color : white;
}

.libelle
{
    width : 68%;
    padding-left: 15px;
    font-weight: bold;
}

.info
{
    width : 32%;
    text-align: center;
}

.active
{
    background: #185359;
}
/*Fin style de section*/

/*Style de footer*/

#footer
{
    padding : 0 5% ;
    position : absolute ;
    margin: auto;
    bottom: 0;
    width : 80%;
    color : white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Fin style de Footer*/

@media screen and (max-width: 1200px) {
    #click-menu, #infos-profil-icons{
        display: block;
    }

    #section
    {
        position: relative;
    }

    #side-menu{
        position: absolute;
        left: -100%;
        opacity: 0.9;
        transition: 0.5s;
        width: 25%;
        height: 92.5vh;
        z-index: 5;
    }

    #content{
        width: 100%;
    }

    #infos-profil{
        display: none;
    }

    .close
    {
        transform: rotateZ(135deg);
    }

    .fa-bars{
        transform: none;
    }

    .fa-bars, .close{
        font-size: 2.5em;
    }

    #click-menu i
    {
        transition: 0.5s;
    }
}

@media screen and (max-width: 1000px){
    #side-menu{
        width: 30%;
    }

    #responsive-entete{
        display: flex;
        justify-content: space-between;
        background-color: #1d71b8;
        color : white;
        font-size: 1.05em;
        padding : 1vh 0;
        font-weight: bold;
    }

    #responsive-range{
        display: flex;
        justify-content: space-between;
        color : #444;
        font-size: 1.05em;
        padding : 2vh 0;
        font-weight: bold;
    }

    #intitule-responsive, #valeur-responsive{
        width: 50%;
        text-align: center;
    }

    #infos-projets-responsive{
        display: block;
    }

    #footer{
        width: 80%;
    }
}

@media screen and (max-width: 800px){
    #side-menu{
        width: 35%;
    }
}

@media screen and (max-width: 700px){
    #side-menu{
        width: 40%;
    }

    #del{
        padding: 5px 20px;
    }

    .colonne-detail, .colonne-intitule, .colonne-option, .colonne-statut{
        width: 25%;
    }
}

@media screen and (max-width: 600px){
    #side-menu{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .fa-bars, .close{
        font-size: 1.9em;
    }

    #side-menu{
        width: 75%;
    }

    #section #titre{
        font-size: 1.5em;
    }

    #footer{
        font-size: 0.65em;
        padding : 1vh 2vw ;
    }

    #block-info-responsive
    {
        width: 230px;
    }

    .lignes, #entete{
        font-size: 0.9em;
    }

    .detail
    {
        width : 70px;
        height : 21px;
        background: #185359;
    }

    .detail #texte
    {
        position: absolute;
        left : 7.5px;
        top : 2px;
        font-size: 0.85em;
    }

    #angle
    {
        position: absolute;
        right: 5px;
        top : 3px ;
    }

    #del{
        font-size: 0.75em;
        padding: 2.5px 5px;
    }

    .lignes-infos{
        font-size: 0.9em;
    }

    .infos-tache{
        width: 90%;
    }

    .option-modifier button
    {
        padding : 2.5px 10px ;
    }

    #option-planning-add button{
        padding: 5px 10px;
        font-size: 1em;
    }
}